
body{
    font-family: Arial;
}

.css-subscribe-btn{
    border: none;
    background-color: black;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 50px;
    cursor:pointer;
    margin-bottom: 30px;
     

}
.is-subscribed{
    background-color: rgb(240,240,240);
    color: black;
}
.calculate-button{
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    padding: 2px 5px;
    cursor: pointer;
}

